@media screen and (max-width: 768px) {
    .container {
        margin: 2% 2%;
    }

    .navBar a {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .socials {
        flex-direction: row; 
    }
}