*{box-sizing: border-box;}
.title{
    text-align: center;
    transition: ease-in-out;
    color: rgb(249, 246, 252);
    background-color: black;
    padding: 1em;
}
.title:hover{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px 5px black;
    transition: ease-in;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
.imgcontainer1{ 
    overflow: hidden;
    margin: 5em;
    width: 1000px;
    height: 1000px;
    display: flex;
}
.imgcontainer2{
    margin: 5em;
    width: 1000px;
    height: 1000px;
}
.imgcontainer3{
    margin: 5em;
    width: 1000px;
    height: 1000px;
    display: flex;
    }
.titleimg{
    width: 100px;
    height: 100px;
    bottom: 20%;
}
.navBar{
    background-color: rgb(255, 254, 254);
    color: rgb(10, 10, 10);
    position: absolute;
    transition: ease-in-out;
}
.navlink{
    color: rgb(15, 15, 14);
    display: inline-block;
    padding: 1em 2em;
    font-size: 1.3em;
    text-decoration: none;
}
.nav_link:hover{
    color: rgb(99, 65, 131);
    background-color: rgb(118, 160, 189);
    font-weight: 900;
}
