*{box-sizing: border-box;}
.Title{
    text-align: center;
    color: rgb(9, 7, 10);
}
.subtitle{
    background: rgb(240, 121, 236);
    padding: 1em;
}
.img_container{
    width: 80%;
    padding: 1em;
    margin: 2em auto;
    position: relative;
}
img{
    width: 500px;
    height: 500px;
    display: block;
}
.img1{
    filter: invert(100);
}
.text1{
    position: absolute;
    bottom: 0%;
    left: 15%;
    background-color: rgb(2, 1, 3);
    border: 5px ridge rgb(246, 240, 246);
    font-size: 20px;
    padding: 5px;
    color: rgb(255, 255, 255);
    box-shadow: 0px;
    opacity: 0.5;
    
}
.img2{
    border: 10px;
    filter: blur(5px);
}
.text2{
    position: absolute;
    bottom: 50%;
    left: 10%;
    background-color: rgb(187, 179, 179);
    font-size: 20px;
    color: rgb(12, 10, 12);
    padding: 5px;
    box-shadow: inset 5px 5px 5px;
    width: 30%;
    background-color: hsla(19,100%,30%,);
}

.title2{
    position: absolute;
    bottom: 50%;
    left: 8%;
    background-color: black;
    font-size: 20px;
    color: rgb(248, 247, 247);
    padding: 5px;
    box-shadow: inset 5px 5px 5px;
    width: 45%;
}
.hyperlink1{
    position: absolute;
    bottom: 40%;
    left: 15%;
    background: rgb(187, 179, 179);
    color: rgb(4, 3, 4);
    padding: 5px;
    font-size: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.img3{
   filter: sepia(49%); 
}
.text3{
text-align: center;
position: absolute;
bottom: 40%;
color: rgb(246, 239, 239);
left: 13%;
font-size: 40px;
width: 20%;
font-style: italic;
font-weight: bolder;
} 
.text4{
position: absolute;
bottom: 60%;
color: rgb(253, 253, 252);
left: 5%;
width: 30%;
font-size: 18px;
font-style: italic;
font-weight: 800;
}
.text5{
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 20%;
    left: 22%;
    width: 35%;
    font-size: 18px;
    font-style: italic;
    font-weight: 800;

}
.text6{
    position: absolute;
    bottom: 30%;
    color: rgb(255, 255, 255);
    left: 10%;
    width: 40%;
    font-size: 18px;
    font-style: italic;
    font-weight: 800;
}