*{box-sizing: border-box;
    
    margin: 0;
    padding: 0;}
    html{
        scroll-behavior: smooth;}
.title{
text-align: center;
color: rgb(119, 22, 22);
font-family: 'Times New Roman', Times, serif;
text-decoration: underline;
font-size: 2em;
transition: ease-in-out 0.2s;
}
.body{
    color: rgb(19, 108, 186);
}
.titleimg{
    align-items: center 500px;
    height: 15%;
width: 15%;
float: left;

}
.title:hover{
    color: rgb(21, 21, 109);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow:3px 3px 6px rgb(0, 0, 0);
}
.aboutme{
    
    color: rgb(98, 17, 17);
    margin: 2% 2%;
    text-align: center;

}

.quote{
    color: rgb(104, 12, 12);
    text-align: center;
    font-size: 1em;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: ease-in-out rgb(24, 64, 241);
}
.quote:hover{
color: rgb(40, 40, 143);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-shadow: 3px 3px 6px rgb(0, 0, 0);
}
.footertitle{
 color: rgb(114, 19, 19);
 text-decoration: underline;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 2em;
 text-align: center;
}
.p1{
    color: rgb(114, 19, 19);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    text-align: center;
}
.p2{
    color: rgb(114, 19, 19);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    text-align: center;
}
.phone{
    color: rgb(114, 19, 19);
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    text-align: center;
}
.email{
    color: rgb(114, 19, 19);
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    text-align: center;
}
.Media{
    color: rgb(114, 19, 19);
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    text-align: center;
}